[Unit]
Description=Gunicorn instance to serve password generator through Flask
After=network.target

[Service]
User=nginx
Group=nginx
Restart=on-failure
RestartSec=1
WorkingDirectory=/home/user/sites/example.com/www/flask-password
Environment="PATH=/home/user/sites/example.com/www/flask-password/bin"
ExecStart=/home/user/sites/example.com/www/flask-password/bin/gunicorn --workers 3 --bind unix:flask-password.sock -m 007 wsgi --env SCRIPT_NAME=/flask-password --log-level info --error-logfile /home/user/sites/logs/example.com.gunicorn.log

[Install]
WantedBy=multi-user.target
